# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Netbeans files
build.xml
manifest.mf
nbproject/

# Classes and jars
build/
dist/

# Backup files
*~

# Dev test file
src/Prueba.java
